.logo {
  width: 85%;
  background-color: #ddd6f3;
}
.logo img {
  width: 70px;
  padding: 5px 20px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login{
  margin: 20px;
  background-color: #faaca8;
  border-radius: 30px;
  padding: 5px 30px;
  text-decoration: none;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.login:active{
  transform: translateY(3px);
}