.nav {
  background-color: #faaca8;
  padding: 25px;
  width: 300px;
}
.active {
  background-color: #ddd6f3;
  border-radius: 30px;
  padding: 5px 30px;
  text-decoration: none;
}
.item {
  text-decoration: none;
  padding: 10px 0;
  color: black;
}
.itemFriend{
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.friends{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}